#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #bebebe;
  height: 100%;
  width: 100vw;
}

div.slide-fade__component {
  height: 100vh;
  overflow: hidden;
}

.slide-fade-enter-from {
  transform: translateX(100vw);
  opacity: 0.3;
}

.slide-fade-leave-to {
  transform: translateX(-100vw);
  opacity: 0.3;
}

.slide-fade-enter-active {
  transition: all 1.5s;
}

.slide-fade-leave-active {
  transition: all 1.5s;
}

nav {
  padding: 15px;
}